pipdeptree

flake8
#mypy
autopep8
pydocstyle
jedi
rope

pytz
tzlocal
python-dateutil

pillow
playsound

SQLAlchemy
mysqlclient

requests
beautifulsoup4
lxml
html5lib

selenium
pytest
pytest-cov
coverage
